html,body{
    padding: 0;
    margin: 0;
}

#main{
    text-align: center;
}

.navbar-font {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.navbar {
    background-color: #69735f;
    height: 66px;
}

.navbar-links a {
    color: #e9ffd4;
    text-decoration: none;
    margin-left: 60px;
    margin-right: 20px;
}

.navbar-links select {
    color: #e9ffd4;
    background-color: #69735f;
    border: none;
    margin: 17px 0 0 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

.navbar-search {
    float: right;
    margin: 17px 60px 17px 60px;
}

.search-input {
    color: #e9ffd4;
    background-color: #69735f;
    border: none;
    border-bottom: 2px solid #e9ffd4;
    margin-right: 10px;
    width: 180px;
    outline: none;
}

.search-input::placeholder {
    color: #e9ffd4;
}

.search-btn {
    font-size: 18px;
    padding: 5px 15px 5px 15px;
    background-color: #a3b394;
    border: none;
    color: white;
}

.title {
    color: #11aebf;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 70px;
    display: block;
    text-align: center;
    margin: 60px 0 60px 0;
    text-shadow: 5px 5px #0df205;
}

.card {
    display: inline-block;
    width: 240px;
    height: 430px;
    background-color: #69735f;
    color: #0d0d0d;
    margin: 10px;
    padding: 20px;
    overflow: hidden;
    border-radius: 20px;
    
}

.card-img{
    width: 100%;
    border-radius: 10px;
}

.card-name{
    list-style-type: none;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 17px;
    line-height: 18px;
    padding: 10px;
    color: #e9ffd4;
    font-weight: bold;
    text-shadow: 2px 2px 2px #0d0d0d;
}

.card-info {
    color: #c6d9b4;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    font-size: 14px;
    text-align: right;
    height: 45px;
    padding: 0;
}

.card-info li {
    line-height: 27px;
}

.card-info span{
    font-weight: bold;
    text-align: left;
    color: #e9ffd4;
    float: left;
    margin-right: 20px;
}