html,body{
    padding: 0;
    margin: 0;
}

#main{
    text-align: center;
}

.navbar-font {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

.navbar {
    background-color: #69735f;
    height: 55px;
    width: 100%;
}

.navbar-links {
    margin-top: 0;
    padding: 0;
    display: inline-block;
    list-style: none;
}

.navbar-links a {
    padding: 18px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #69735f;
    color: #e9ffd4;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
}

.navbar-links li {
    float: left;
    width: auto;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
}

.navbar-links li ul {
    position: absolute;
    visibility: hidden;
}

.navbar-links li:hover ul {
    visibility: visible;
    background-color: #69735f;
    color: #e9ffd4;
    list-style: none;
    max-height: 315px;
    width: 340px;
    overflow: auto;
    cursor: pointer;
}

.navbar-links a:hover {
    color: #a3b394;
}

.navbar-links ul li {
    float: none;
    border-bottom: solid 1px #e9ffd4;
    padding: 8px;
    width: auto;
}

.navbar-search {
    float: right;
    margin: 11.5px 30px 11.5px 0px;
}

.search-input {
    color: #e9ffd4;
    background-color: #69735f;
    border: none;
    border-bottom: 2px solid #e9ffd4;
    margin-right: 10px;
    width: 180px;
    outline: none;
}

.search-input::placeholder {
    color: #e9ffd4;
}

.search-btn {
    font-size: 18px;
    padding: 5px 15px 5px 15px;
    background-color: #a3b394;
    border: none;
    color: white;
}

.title {
    color: #11aebf;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 70px;
    display: block;
    text-align: center;
    margin: 40px 0;
    text-shadow: 5px 5px #0df205;
}

.filter-info {
    font-family: 'Lato', sans-serif;
    color: #0d0d0d;
    font-weight: bolder;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.filter-info span {
    color: #11aebf;
}

.statistics {
    font-family: 'Lato', sans-serif;
    color: #0d0d0d;
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.card {
    display: inline-block;
    width: 240px;
    height: 430px;
    background-color: #69735f;
    color: #0d0d0d;
    margin: 10px;
    padding: 20px;
    overflow: hidden;
    border-radius: 20px;
    
}

.card-img{
    width: 100%;
    border-radius: 10px;
}

.card-name{
    list-style-type: none;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 17px;
    line-height: 18px;
    padding: 10px;
    color: #e9ffd4;
    font-weight: bold;
    text-shadow: 2px 2px 2px #0d0d0d;
}

.card-info {
    color: #c6d9b4;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    font-size: 14px;
    text-align: right;
    height: 45px;
    padding: 0;
}

.card-info li {
    line-height: 27px;
}

.card-info span{
    font-weight: bold;
    text-align: left;
    color: #e9ffd4;
    float: left;
    margin-right: 20px;
}