html,body {
    padding: 0;
    margin: 0;
}

#main {
    text-align: center;
}

.responsive {
    display: none;
}

.navbar-font {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.navbar {
    width: 100%;
    position: fixed;
    height: 55px;
    background-color: #fff;
    top: 0;
}

.navbar-links {
    margin-top: 0;
    padding: 0;
    display: inline-block;
    list-style: none;
    width: 100%;
}

.navbar-links a {
    padding: 18px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #0d0d0d;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
}

.navbar-links li {
    float: left;
    width: auto;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
}

.navbar-links li ul {
    position: absolute;
    visibility: hidden;
}

.navbar-links li:hover ul {
    visibility: visible;
    color: #0d0d0d;
    background-color: #fff;
    list-style: none;
    max-height: 325px;
    width: auto;
    overflow: auto;
    cursor: pointer;
}

.navbar-links li:hover ul li:hover {
    color: #11aebf;
}

.navbar-links a:hover {
    color: #11aebf;
}

.navbar-links ul li {
    float: none;
    border-bottom: solid 1px #69735f;
    padding: 8px;
    width: auto;
}

.navbar-search {
    float: right;
    margin: 11.5px 30px 11.5px 0px;
}

.search-input {
    color: #0d0d0d;
    border: none;
    border-bottom: 2px solid #0d0d0d;
    width: 280px;
    outline: none;
}

.search-input::placeholder {
    color: #69735f;
}

.search-btn {
    border: none;
    background-color: #fff;
    padding: 0;
}

.search-btn img{
    width: 25px;
    height: 25px;
}

.title {
    color: #11aebf;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 70px;
    display: block;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
    text-shadow: 5px 5px #0df205;
}

.filter-info {
    font-family: 'Lato', sans-serif;
    color: #0d0d0d;
    font-weight: bolder;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.filter-info span {
    color: #11aebf;
}

.statistics {
    font-family: 'Lato', sans-serif;
    color: #0d0d0d;
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.card {
    display: inline-block;
    width: 240px;
    height: 430px;
    background-color: #69735f;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #0d0d0d;
    
}

.card-img{
    width: 100%;
    border-radius: 10px;
}

.card-name{
    list-style-type: none;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    line-height: 18px;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 2px #0d0d0d;
}

.card-info {
    color: #c6d9b4;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    font-size: 14px;
    text-align: right;
    padding: 0;
}

.card-info li {
    line-height: 20px;
}

.card-border {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: .5px groove #fff;
}

.card-bottom {
    padding-top: 5px;
}

.card-info span{
    font-weight: bold;
    text-align: left;
    color: #fff;
    float: left;
    margin-right: 20px;
}

@media(max-width: 1000px) {

    .navbar {
        position: static;
        height: auto;
    }

    .navbar-links li {
        display: none;
    }
    
    .navbar-links li.responsive {
        display: block;
        border: none;
        margin-top: 10px;
        margin-left: 30px;
        display: block;
        font-family: 'Lato', sans-serif;
        font-size: 90px;
        color: #11aebf;
        text-shadow: 10px 10px #0df205;
        text-align: left;
        padding-left: 30px;
        padding-top: 30px;
        cursor: pointer;
    }

    .navbar-font {
        font-size: 44px;
    }

    .mobile-menu {
        display: block;
    }

    .mobile-menu ul {
        margin: 0;
        padding-left: 5%;
        padding-right: 5%;
    }

    .mobile-menu ul li {
        display: block;
        width: 100%;
        border-bottom: 1px solid #69735f;
        line-height: 80px;
    }

    .mobile-menu ul li ul {
        max-height: 0;
        transition: all .4s;
        display: block;
    }

    .mobile-menu ul li:hover ul{
        background-color: #c6d9b4;
        line-height: 80px;
        padding: 0;
        position: static;
        width: auto;
        overflow-x: hidden;
        text-align: center;
        max-height: 1060px;
    }

    .mobile-menu a {
        position: static;
    }

    .navbar-search {
        float: none;
        text-align: center;
        margin: 0;
    }

    .search {
        line-height: 80px;
        box-sizing: border-box;
        height: 117px;
    }

    .search input[type=text] {
        width: 80%;
        border-bottom: none;
        padding-bottom: 40px;
    }

    .search-btn {
        box-sizing: border-box;
        height: 117px;
    }

    .search-btn img {
        margin-top: 6px;
        width: 70px;
        height: 70px;
    }

    .title {
        display: block;
        font-size: 100px;
        text-shadow: 10px 10px #0df205;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .filter-info {
        padding-left: 40px;
        padding-right: 40px;
    }

    .statistics {
        padding-left: 40px;
        padding-right: 40px;
    }

    .card {
        display: block;
        width: 640px;
        height: 1146px;
        margin: 0 15% 10% 15%;
        border-radius: 54px;
        padding: 27px;
    }

    .card-img {
        border-radius: 27px;
    }

    .card-name{
        font-size: 54px;
        line-height: 18px;
        padding: 47px;
        color: #fff;
        font-weight: bold;
        text-shadow: 8px 8px 8px #0d0d0d;
    }

    .card-info {
        font-size: 40px;
    }
    
    .card-info li {
        line-height: 64px;
    }
    
    .card-border {
        padding-bottom: 5px;
        padding-top: 5px;
        border-bottom: .5px groove #fff;
    }
    
    .card-bottom {
        padding-top: 5px;
    }
}